@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
:root {
  --font_1: "Be Vietnam Pro", Halvetica, Arial, sans-serif;
  --font_2: "Varela", Halvetica, Arial, sans-serif;
  --font_3: "Yantramanav", Halvetica, Arial, sans-serif;

}

.name > span {
  font-size: 11vw;
  text-indent: 132px; 
  font-family: var(--font_1);
  line-height: 20vh;
  font-weight: 300;
}